@model List<MovieOnTop10>
@{
	ViewData["Title"] = "Inicio";
}
@{ 
	var top = "";
} 
<section style="text-align: center; height:480px; overflow-y: scroll;" class="content">
	@for (int i = 0; i < Model.Count; i++)
	{
		@if (top != Model[i].Top10.Name)
		{
			<h1 style="padding: 3%;">@Model[i].Top10.Name</h1>
			top = Model[i].Top10.Name;
		}
		<div class="card-deck">
			@for (; i < Model.Count; i++)
			{
				if (top != Model[i].Top10.Name)
				{
					i--;
					break;
				}
				<div class="card">
					<img class="card-img-top" src=@Model[i].Movie.URL alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@Model[i].Movie.Name</h5>
						<p class="card-text">@Model[i].Movie.Description</p>
					</div>
					<div class="card-footer" style="text-align: center;">
						<form asp-controller="Bilboard" asp-action="SearchMovie">
							<input name="search" value="@Model[i].Movie.Name" hidden/>
							<button type="submit" class="btn btn-dark">Comprar un Boleto</button>
						</form>
						<a style="margin-top:2%" asp-action="Details" asp-route-id="@Model[i].MovieId" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
					</div>
				</div>
			}
		</div>
	}
</section>
