@model ListBilboardResult
@{
	ViewData["Title"] = "Cartelera";
}
<section>
	<div style="text-align:center; padding:3%;">
		<h1>Cartelera del @Model.Title</h1>
	</div>
	<form asp-controller="Bilboard" asp-action="SelectDate">
		<div class="form-row align-items-center">
			<div class="col-auto">
				<label class="sr-only" for="inlineFormInputGroup"></label>
				<div class="input-group mb-2">
					@{ 
						string today = DateTime.Today.Year.ToString() + "-";
						if (DateTime.Today.Month < 10)
							today += "0" + DateTime.Today.Month + "-";
						else
							today += DateTime.Today.Month + "-";
						if (DateTime.Today.Day < 10)
							today += "0" + DateTime.Today.Day;
						else
							today += DateTime.Today.Day;
					}
					<input type="date" name="date" class="form-control" id="inlineFormInputGroup" min="@today" value=@Model.Date>
					<div class="input-group-prepend">
						<button type="submit" class="btn btn-dark mb-2 rounded-right">Seleccionar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="card-deck">
		@for (int i=0; i < Model.Shows.Count; i++)
		{
			<div class="card">
				<img class="card-img-top" src=@Model.Shows[i].Movie.URL alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">@Model.Shows[i].Movie.Name</h5>
					<p class="card-text">@Model.Shows[i].Movie.Description</p>
					<p class="card-subtitle">Sala: @Model.Shows[i].Room.Name</p>
					<p class="card-subtitle">Precio: $@Model.Shows[i].Price</p>
					<p class="card-subtitle">Fecha y Hora de Emisión: @Model.Shows[i].DateTime</p>
					@foreach (var item in Model.DiscountsByShows)
					{
						if (item.ShowId == Model.Shows[i].ShowId && item.Discount.DiscountId != "ninguno")
						{
							<p class="card-subtitle alert-success" style="margin:2%;"> Descuento @item.Discount.Name del @item.Discount.Percent% </p>
						}
					}
				</div>
				<div class="card-footer" style="text-align: center;">
					<a asp-action="SelectArmChair" asp-controller="Cart" asp-route-id="@Model.Shows[i].ShowId" class="btn btn-dark">Comprar un Boleto</a>
					<a style="margin-top:2%" asp-action="Details" asp-route-id="@Model.Shows[i].MovieId" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
				</div>
			</div>
		}
	</div>
</section>
