@model ListBilboardResult
@{
	ViewData["Title"] = "Cartelera";
}
<section>
	<div style="text-align:center; padding:3%;">
		<h1>Carelera del @Model.Title</h1>
	</div>
	<form asp-controller="Bilboard" asp-action="SelectDate">
		<div class="form-row align-items-center">
			<div class="col-auto">
				<label class="sr-only" for="inlineFormInputGroup"></label>
				<div class="input-group mb-2">
					<input type="date" name="date" class="form-control" id="inlineFormInputGroup" value=@Model.Date>
					<div class="input-group-prepend">
						<button type="submit" class="btn btn-dark mb-2 rounded-right">Seleccionar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	@for (int i = 0; i < Model.DiscountsByShows.Count; i++)
	{
		<div class="card-deck">
			@for (; i < Model.DiscountsByShows.Count; i++)
			{
				<div class="card">
					<img class="card-img-top" src=@Model.DiscountsByShows[i].Show.Movie.URL alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@Model.DiscountsByShows[i].Show.Movie.Name</h5>
						<p class="card-text">@Model.DiscountsByShows[i].Show.Movie.Description</p>
						<p class="card-subtitle">Precio: @Model.DiscountsByShows[i].Show.Price $</p>
						<p class="card-subtitle">Emisión: @Model.DiscountsByShows[i].Show.DateTime.Hour:@Model.DiscountsByShows[i].Show.DateTime.Minute:@Model.DiscountsByShows[i].Show.DateTime.Second</p>
					</div>
					<div class="card-footer" style="text-align: center;">
						<a asp-action="AddCart" asp-controller="Cart" class="btn btn-dark">Comprar un Boleto</a>
						<a style="margin-top:2%" asp-action="Details" asp-route-id="@Model.DiscountsByShows[i].Show.MovieId" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
					</div>
				</div>
			}
		</div>
	}
</section>
