@model ListCartResult
@{
	ViewData["Title"] = "Carrito de Compras";
}
<section>
	<div style="text-align:center; padding:3%;">
		<h1>Carrito de Compras</h1>
		@if (User.IsInRole(Roles.Partner))
		{
			<h3>Pago Total de la Orden en Dinero: $@Model.CostMoney .</h3>
			<h3>Pago Total de la Orden en Puntos: @Model.PointsTotals puntos.</h3>
		}
		else
		{
			<h3>Pago Total de la Orden: $@Model.CostMoney</h3>
		}
	</div>
	<div>
		<button style="margin:1%; margin-left: 80%" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Efectuar Compra</button>
	</div>
	<div class="card-deck content" style="text-align: center; height:230px; overflow-y: scroll;">
		@foreach (var item in Model.Carts)
		{
			<div class="col-sm-3">
				<div class="card">
					<img class="card-img-top" src=@item.DiscountsByShow.Show.Movie.URL alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@item.DiscountsByShow.Show.Movie.Name</h5>
						<p class="card-text">@item.DiscountsByShow.Show.Movie.Description</p>
						<p class="card-subtitle">Sala: @item.DiscountsByShow.Show.Room.Name </p>
						<p class="card-subtitle">Fecha y Hora: @item.DiscountsByShow.Show.DateTime</p>
						@{ var price = item.DiscountsByShow.Show.Price - (item.DiscountsByShow.Show.Price * item.DiscountsByShow.Discount.Percent / 100);}
						<p class="card-subtitle">Precio: $@price</p>
						@if(User.IsInRole(Roles.Partner))
						{
							var points = item.DiscountsByShow.Show.PriceInPoints - (item.DiscountsByShow.Show.PriceInPoints * item.DiscountsByShow.Discount.Percent / 100);
							<p class="card-subtitle">Precio en Puntos: @points puntos.</p>
						}
						<p class="card-subtitle">No. Asiento: @item.ArmChair.No</p>
					</div>
					<div class="card-footer" style="text-align: center;">
						<a asp-action="QuitArmChair" asp-controller="Cart" asp-route-id=@item.CartId class="btn btn-dark">Quitar del Carrito</a>
					</div>
				</div>
			</div>
		}
	</div>
</section>
@if (User.IsInRole(Roles.Partner) && Model.Points >= Model.PointsTotals)
{
	<div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pago con Puntos</h5>
					<button type="button" class="btn icon-remove-circle icon-2x" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Puede pagar las entradas con puntos de socio o con dinero, tiene la libertad de escoger.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button class="btn btn-dark" data-target="#exampleModalToggle2" data-toggle="modal" data-dismiss="modal">Pagar con Dinero</button>
					<a asp-action="PayTicketWithPoints" asp-controller="Cart" class="btn btn-dark">Pagar con Puntos de Socio</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pago</h5>
					<button type="button" class="btn icon-remove-circle icon-2x" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<form asp-action="PayTicketWithMoney" asp-controller="Cart">
					<div class="modal-body">

						<div class="mb-3">
							<label class="col-form-label">Inserte la Tarjeta</label>
							<input type="number" class="form-control" name="Card" />
						</div>
						<div class="mb-3">
							<label class="col-form-label">Nombre y Apellidos</label>
							<input type="text" class="form-control" name="Name">
						</div>
						<div class="mb-3">
							<label class="col-form-label">Código de Acceso</label>
							<input type="number" class="form-control" name="Code">
						</div>
						<div class="mb-3">
							<label class="col-form-label">Fecha de Expiración</label>
							<input type="month" class="form-control" name="Date">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button class="btn btn-dark" data-target="#exampleModal" data-toggle="modal" data-dismiss="modal">Pagar con Puntos de Socio</button>
						<button type="submit" class="btn btn-dark">Pagar con Dinero</button>
					</div>
				</form>
			</div>
		</div>
	</div>
}
else
{
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pago</h5>
					<button type="button" class="btn icon-remove-circle icon-2x" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<form asp-action="PayTicketWithMoney" asp-controller="Cart">
					<div class="modal-body">

						<div class="mb-3">
							<label class="col-form-label">Inserte la Tarjeta</label>
							<input type="number" class="form-control" name="Card" />
						</div>
						<div class="mb-3">
							<label class="col-form-label">Nombre y Apellidos</label>
							<input type="text" class="form-control" name="Name">
						</div>
						<div class="mb-3">
							<label class="col-form-label">Código de Acceso</label>
							<input type="number" class="form-control" name="Code">
						</div>
						<div class="mb-3">
							<label class="col-form-label">Fecha de Expiración</label>
							<input type="month" class="form-control" name="Date">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-dark">Pagar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
}