@model Tuple<string, List<DiscountsByShow>>
@{
	ViewData["Title"] = "Selecciona el Descuento a Aplicar";
}

<section style="text-align: center; margin-left:40%;" class="col-3">
	<h1 style="padding: 3%;">Asignar Descuento</h1>
	<form asp-action="SelectDiscount" asp-controller="Cart" method="post">
		<input name="armChairId" value="@Model.Item1" hidden />
		<select name="discountByShowId" class="custom-select form-control">
			@foreach (var item in Model.Item2)
			{
				if (item.Discount.Name == "Ninguno")
				{
					<option selected value="@item.DiscountsByShowId">@item.Discount.Name</option>
				}
				else
				{
					<option value="@item.DiscountsByShowId">@item.Discount.Name</option>
				}
			}
		</select>
		<button style="margin-top:2%" class="btn btn-dark">Seleccionar</button>
	</form>
</section>